.item {
  border: 1px solid black;
  /* margin: 10px 50px; */
  padding-left: 10px;
  /* width: 30%; */
  background-color: white;

  margin-bottom: 10px;

  max-width: 300px;
}

hr {
  margin-right: 10px;
}

img {
  height: 200px;
  width: 220px;
}
